$black: #000000;
$white: #FFFFFF;

$blue-gray-050: #ECEFF1;
$blue-gray-100: #CFD8DC;
$blue-gray-200: #B0BEC5;
$blue-gray-300: #90A4AE;
$blue-gray-400: #78909C;
$blue-gray-500: #607D8B;
$blue-gray-600: #546E7A;
$blue-gray-700: #455A64;
$blue-gray-800: #37474F;
$blue-gray-900: #263238;

$blue-050: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;
$blue-A100: #82B1FF;
$blue-A200: #448AFF;
$blue-A400: #2979FF;
$blue-A700: #2962FF;

$logo-color-first: #3003bfff;
$logo-color-second: #d400aaff;

$background-main-color: $blue-gray-800;
$accent-color: $blue-gray-900;
$font-normal-color: $blue-gray-200;
$font-accent-color: $logo-color-second;
$font-hover-color: $blue-600;
$shadow-color: $blue-gray-900;
